.testimonial-card {
  margin-top: 500px;
  background: linear-gradient(45deg, #3d2727, #303031, #283638);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin-left: 500px;
  border: none;
  position: relative;
  left: 30%;
}

.testimonial-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(241, 221, 221, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(241, 221, 221, 0.2) 1px, transparent 1px);
  background-size: 60px 60px;
  pointer-events: none;
  z-index: 0;
}

.testimonial-title {
  text-align: left;
  font-size: 24px;
  color: #00aaff;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.testimonial-subtitle {
  text-align: left;
  font-size: 16px;
  margin-bottom: 30px;
  color: #00aaff;
}

.testimonial-content {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
}
