.empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: 1000px;
}

.black {
  background-color: black;
}

.empty-page::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: #226f73;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.background-empty {
  /* margin-top: 200px;
  margin-bottom: 800px; */
  background-image: linear-gradient(to bottom right, #230c0c, #172225, #0c1c1f);
  background-size: 4000px;
  transform: rotate(-45deg) skew(-45deg);
  /* width: 150vw;
  height: 120vh;
  max-width: 150vw; */
  position: absolute;
  top: -100%;
  left: 1%;
  z-index: -1;
}

.circle {
  position: relative;
  z-index: -1;
}
