:root {
  --main-gradient-color: linear-gradient(to right, #4a1221, #2f3d63, #2c2c2c);
  --second-gradient-color: linear-gradient(to left, #1368a6, #da6985, #4a1220);
}
.header {
  background-color: #1a1a1a;
  padding: 20px;
  margin: 30px;
  border-radius: 20px;
}

.navbar ul {
  list-style: none;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul > li {
  color: #fff;
}

ul > li > a {
  text-decoration: none;
  color: #fff;
}

.navbar .logo span {
  background-image: linear-gradient(red, #1368a6);
  padding: 3px;
  border-radius: 6px;
}
.navbar ul li a,
.navbar ul li button {
  cursor: pointer;
  position: relative;
}

.navbar ul li a:hover {
  color: #da6985;
  transform: translateY(-3px);
}

.navbar ul li button:hover {
  border-color: #1368a6;
  color: #da6985;

  transform: translateY(-10px);
}

.navbar .home a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-image: var(--second-gradient-color);
  transition: all 0.3s ease-out;
}

.navbar .home a:hover::after {
  height: 4px;
  background-image: var(--main-gradient-color);
}
.login-btn {
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 15px 40px;
}

.book-an-appointment-btn {
  background: var(--main-gradient-color);
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 15px 40px;
}
